progress.confidence-bar {
  display: block;
  height: 12px;
  border: none;
  border-radius: 0.25rem;
  appearance: none;

  &::-webkit-progress-bar {
    background: rgb(255 255 255 / 10%);
    border-radius: 0.25rem;
  }

  &::-webkit-progress-value {
    background: #c9a24a;
    border-radius: 0.25rem;
  }

  &::-moz-progress-bar {
    background: #c9a24a;
    border-radius: 0.25rem;
  }
}
